#logo{
    aspect-ratio: 1/1;
    height: 40px;
    padding-left: 5px;
}

hr{
    opacity: 35%;
    margin-top: -10px;
}

#technologies{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}