.App {
  margin: 0;
  padding: 0;
  
  text-align: center;
  display: grid;
  grid-template-rows: 8% 72% 20%;
  background-color: #282c34;
  height: 100vh;
  width: 100vw;
}

.App-logo {
  position: absolute;
  pointer-events: none;
  height: 80%;
}

@media (prefers-reduced-motion: no-preference) {
  .react {
    margin-left: -20%;
    animation: App-logo-spin infinite 60s linear;
  }
}

.App-header {
  position: relative;

  display: grid;
  grid-template-columns: auto auto auto; 
  column-gap: 2%;
  background-color: #35374A;
  align-items: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
